<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.milang.helloworld"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        
        <activity android:name=".MainMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity android:name=".SignIn"
                  android:label="SignIn">            
        </activity>
        
        <activity android:name=".MapMain"
                  android:label="@string/MapMain_label">            
        </activity>
        
        <activity android:name=".Twitter"
                  android:label="@string/Twitter_label">            
        </activity>    

		<activity android:name=".Parking"
                  android:label="Parking App">            
        </activity>  
    
    <activity android:name=".ProgressBarMain"
                  android:label="Progress Bar App">            
        </activity>  
    
    </application>


</manifest> 